mentor/quest5/LogicApp.json
{
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "triggers": {
        "Microsoft_Sentinel_incident": {
          "type": "ApiConnectionWebhook",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
              }
            },
            "body": {
              "callback_url": "@{listCallbackUrl()}"
            },
            "path": "/incident-creation"
          },
          "conditions": []
        }
      },
      "actions": {
        "For_each_alert": {
          "type": "Foreach",
          "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
          "actions": {
            "Parse_GeoLocation_data": {
              "type": "ParseJson",
              "inputs": {
                "content": "@json(items('For_each_alert')?['properties']?['additionalData']?['Custom Details'])['GeoLocation'][0]",
                "schema": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "type": "string"
                    },
                    "latitude": {
                      "type": "number"
                    },
                    "longitude": {
                      "type": "number"
                    }
                  }
                }
              }
            },
            "Set_user_from_alert_details": {
              "type": "SetVariable",
              "inputs": {
                "name": "User",
                "value": "@json(items('For_each_alert')?['properties']?['additionalData']?['Custom Details'])?['SAP_User'][0]"
              },
              "runAfter": {
                "Parse_GeoLocation_data": [
                  "Succeeded"
                ]
              }
            },
            "Generate_Security_Recommendations": {
              "type": "Http",
              "inputs": {
                "uri": "https://dsag-hacker-in-a-day.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2024-06-01",
                "method": "POST",
                "headers": {
                  "api-key": "e38a900d0d3d4b42b09c8989b3354b90"
                },
                "body": {
                  "messages": [
                    {
                      "role": "system",
                      "content": [
                        {
                          "type": "text",
                          "text": "As an incident response expert, your role will be to provide guidance on incident response and recovery techniques to mitigate potential risks. This may include developing response plans for different types of incidents, conducting post-incident reviews to identify areas for improvement, and recommending tools or techniques that can be used to detect and prevent potential threats. Your expertise in network security will be particularly valuable in ensuring that any incident response and recovery work performed is done in a secure and controlled manner."
                        }
                      ]
                    },
                    {
                      "role": "user",
                      "content": [
                        {
                          "type": "text",
                          "text": "Compose mitigation recommendations in plain text format with less than 100 words for the following alert: @{items('For_each_alert')?['properties']?['description']}"
                        }
                      ]
                    }
                  ],
                  "temperature": 0.2,
                  "response_format": {
                    "type": "text"
                  }
                }
              },
              "runAfter": {
                "Set_user_from_alert_details": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_Azure_OpenAI_response": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Generate_Security_Recommendations')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "finish_reason": {
                            "type": "string"
                          },
                          "index": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "finish_reason",
                          "index",
                          "message"
                        ]
                      }
                    },
                    "created": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "system_fingerprint": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Generate_Security_Recommendations": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@outputs('Parse_Azure_OpenAI_response')?['body']?['choices']",
              "actions": {
                "Append_to_alert_message": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "AlertMessage",
                    "value": "- Alert: @{items('For_each_alert')?['properties']?['alertDisplayName']}\\r\n- User: @{variables('User')}\\r\n- Location: @{body('Parse_GeoLocation_data')?['country']}\\r\n- Severity: @{items('For_each_alert')?['properties']?['severity']}\\r\n- @{items('For_each')?['message']?['content']}"
                  }
                }
              },
              "runAfter": {
                "Parse_Azure_OpenAI_response": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Initialize_user": [
              "Succeeded"
            ]
          }
        },
        "Post_card_in_Teams_Security_Incident_channel": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['teams-1']['connectionId']"
              }
            },
            "method": "post",
            "body": {
              "recipient": {
                "groupId": "75d94953-9a30-48d3-aab1-71014197c877",
                "channelId": "19:c270c3f64dca46abae561e703b1826c6@thread.tacv2"
              },
              "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.5\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"An [incident with ID @{triggerBody()?['object']?['properties']?['incidentNumber']}](@{triggerBody()?['object']?['properties']?['incidentUrl']}) for SAP user @{variables('User')} has been created due to the following alert(s):\",\n            \"wrap\": true\n        },\n       {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{variables('AlertMessage')}\",\n            \"wrap\": true\n        }\n    ]\n}"
            },
            "path": "/v1.0/teams/conversation/adaptivecard/poster/@{encodeURIComponent('User')}/location/@{encodeURIComponent('Channel')}"
          },
          "runAfter": {
            "For_each_alert": [
              "Succeeded"
            ]
          }
        },
        "Initialize_Teams_alert_message": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AlertMessage",
                "type": "string"
              }
            ]
          },
          "runAfter": {}
        },
        "Initialize_user": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "User",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_Teams_alert_message": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {},
      "parameters": {
        "$connections": {
          "type": "Object",
          "defaultValue": {}
        }
      }
    },
    "parameters": {
      "$connections": {
        "value": {
          "azuresentinel": {
            "id": "/subscriptions/48b193a0-2500-45b5-ad41-f09cde1a95cd/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
            "connectionId": "/subscriptions/48b193a0-2500-45b5-ad41-f09cde1a95cd/resourceGroups/DSAGWS-RG/providers/Microsoft.Web/connections/azuresentinel-PlaybookUnexpectedNetworkLogin",
            "connectionName": "azuresentinel-PlaybookUnexpectedNetworkLogin",
            "connectionProperties": {
              "authentication": {
                "type": "ManagedServiceIdentity"
              }
            }
          },
          "teams-1": {
            "id": "/subscriptions/48b193a0-2500-45b5-ad41-f09cde1a95cd/providers/Microsoft.Web/locations/westeurope/managedApis/teams",
            "connectionId": "/subscriptions/48b193a0-2500-45b5-ad41-f09cde1a95cd/resourceGroups/DSAGWS-RG/providers/Microsoft.Web/connections/teams-1",
            "connectionName": "teams-1"
          }
        }
      }
    }
  }